* {
    box-sizing: border-box;
}

body {
    font-family: Tahoma, Arial, Verdana, sans-serif;
    text-transform: capitalize;
}

.quiz-app {
    width: 80%;
    margin: 20px auto;
    background-color: #f8f8f8;
    padding: 15px;
}

.quiz-app .quiz-info {
    display: flex;
    background-color: #fff;
    padding: 20px;
}

.quiz-app .quiz-info .category,
.quiz-app .quiz-info .name {
    flex: 1;
}

.quiz-app .quiz-info .count {
    flex: 1;
    text-align: right;
}

.quiz-app .quiz-area {
    background-color: #fff;
    padding: 20px;
    margin-top: 15px;
}

.quiz-app .quiz-area h2 {
    margin: 0;
}

.quiz-app .answer-area {
    background-color: #fff;
    padding: 0 20px 20px;
}

.quiz-app .answer-area .answer {
    background-color: #f9f9f9;
    padding: 15px;
    display: flex;
    align-items: center;
}
.quiz-app .answer-area .answer:not(:last-child) {
    border-bottom: 1px solid #dfdfdf;
}
.quiz-app .answer-area .answer input[type="Radio"]:checked + label {
    color: #0075ff;
}

.quiz-app .answer-area .answer label {
    cursor: pointer;
    font-weight: bold;
    color: #777;
    font-size: 14px;
    margin-left: 10px;
    width: 100%;
}
.quiz-app .btnSubmit,
.selecion button {
    background-color: #0075ff;
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    margin: 20px auto;
}

.quiz-app .btnSubmit:focus,
.selecion input:focus,
.selecion button:focus {
    outline: none;
}

.quiz-app .bulltes {
    border-top: 1px solid #dfdfdf;
    background-color: #fff;
    display: flex;
    padding: 20px;
}

.quiz-app .bulltes .spans {
    flex: 1;
    display: flex;
}

.quiz-app .bulltes .spans span {
    width: 20px;
    height: 20px;
    background-color: #ddd;
    margin-right: 5px;
    border-radius: 50%;
}
.quiz-app .bulltes .spans span.on {
    background-color: #0075ff;
}

.quiz-app .styleResults {
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    font-size: 18px;
}

.quiz-app .results span {
    font-weight: bold;
}

.quiz-app .results span.bad {
    color: #dc0a0a;
}

.quiz-app .results span.good {
    color: #009688;
}

.quiz-app .results span.perfect {
    color: #0075ff;
}

.selecion {
    text-align: center;
}
.selecion input,
.selecion select {
    padding: 10px 15px;
    border: 1px solid #dfdfdf;
    border-radius: 6px;
    width: 50%;
    margin: 10px;
}
.selecion .inputs {
    display: flex;
}
